.card {
    border: 2px solid black;
    border-radius: 10px;
    min-height: 280px;
    width: 400px;
    margin: 5px;
    cursor: pointer;
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 10px;
}

.card-body p {
    padding: 3px;
}

.card-body h1 {
    font-size: 30px;
   
    padding: 2px;
    margin: 2px;
}

.card-button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .card {
        width: 300px;
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 320px; 
        margin: 10px auto; 
    }
}
