.data {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
   
}


@media screen and (max-width: 768px) {
    .data {
     /* flex-wrap: wrap; */

     display: grid;
     grid-template-columns:100px 100px;
     column-gap: 220px;
     align-content: center;
     justify-content: start;
  
    }
}


@media screen and (max-width: 480px) {
    .data {
       display: flex;
       flex-direction: column;
    }
}

